.wrapper > div {
    background: #eee;
    padding: 1em;
 }
 
 .wrapper > div:nth-child(odd) {
    background: #bbb;
 }
 
 .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;

    /* justifying content*/
    justify-items: stretch;


 /*aligning content */

 align-items: stretch   ;
 }

 .box-1 {
     align-self: start;
 }

 .box-2{
     align-self: end;
 }

 .box-3{
     justify-self: end;
 }
.box-4{
    grid-column: 1/3;
    /* extends box from line1 to line3 */
    grid-row: 3/5;
    /* extends box from line3 to line5 */
    /* even if you can not see the lines... just imagine */
}

.box-5 {
    grid-column: 3;
    grid-row: 2/5;
}

.box-6{
    /* grid-column: 1/3; */
    grid-row: 2/4;
    grid-column: 2/3;
    border: 1px solid #333333;
}

 

