p{
    
    font-family: 'Pacifico', cursive;

}

h1{font-family: unlock,cursive}

body{
    font-size: 10px;
}

h1{ font-size: 5em

10px * =50px}

p{
    font-size: 2em;
}

span{
    font-size: 2rem;
}

span{

    text-decoration: overline;
    text-decoration-color: blue
    }

